.page{
  background-color: rgb(21, 32,43);
  color: white;
}

.header {
  display: block;
  height: 150px;
  width: 100%;
  background-image: url('./Components/images/flower.JPG');
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  margin: 0;
}

.profile{
  display: block;
  border-color: black;
  width: 125px;
  height: 125px;
  left: 20px;
  transform:translate(0%, -50%);
  border-radius: 9999px;
  border-width: 4px;
  border-color: rgb(21, 32,43);
  border-style: solid;
  background-size: cover;
  background-image: url('./Components/images/profile.jpg');
  position: relative;
}

@media screen and (max-width: 425px){
  .profile{
    margin: 0 auto;
    left: 0px;
  }
}

@media screen and (max-width: 425px){
  .Name{
    display: block;
    margin: 0 auto;
  }
}

.Name{
  background-color: rgb(21, 32,43);
  font-weight: 800;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  left: 10px;
  transform: translate(0%,-200%);
  position: relative;
  font-size: 19px;
}

.bio-bar{
  left: 10px;
  display: block;
  position: relative;
  transform: translate(0%, -100%);
  margin: 0 auto;
}

@media screen and (max-width: 425px){
  .bio-bar{
    transform: translate(0%, -50%);
  }
}

.bio p{
  background-color: rgb(21, 32,43);
  display:block;
  color: rgb(136, 153, 166);
  font-weight: 400;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 0px;
}

.nav-bar{
  text-align: center;
  margin: 0 auto;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 425px){
  .nav-bar > div{
    transform: translate(0, 50%);
  }
}

@media screen and (max-width: 215px){
  .nav-bar > div{
    transform: translate(0, 150%);
  }
}

.tabList {
  display: flex;
  cursor: pointer;
}
.tab {
  font-family: MS Shell Dlg 2;
  display: inline-block;
  width: auto;
  height: 53px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  flex-direction: row;
  cursor: pointer;
  list-style-type: inline;
  padding-left: 14px;
  padding-right: 14px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.homepic{
  display: block;
  padding: 5px;
}

.homepic img{
  max-width: 100%;
  height: auto;
}

.player-wrapper {
  position: absolue;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

}
.react-player {
  display: inline-block;
  min-width: 560px;
  width: 100%;
  height: auto;
  background-color: rgb(21, 32,43);
}

.vidclass{
  background-color: rgb(21, 32,43);
  width: 560;
  position: relative;
}

.caption{
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  text-align: justify;
}

.linkim{
  display: flex;
}

.linkim img{
  width: 300px;
  max-width: 100%;
  height: auto;
}

.BackToTop{
  background-color: white;
}

.body{
  background-color: rgb(21, 32,43);
}

.homeBody{
  display: flex;
}

@media screen and (max-width: 650px) {
  .homeBody{
    display: block;
  }
}

.vrow{
  display: flex;
}

@media screen and (max-width: 700px) {
  .vrow{
    display: block;
  }
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  height: 100vh;
}

.add-item {
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(136, 153, 166);
  margin-right: 50px;
  background-color: rgb(21, 32,43);
  padding: 20px 18px;
  margin-bottom: 34px;
  width: 25%;
  height: 650px;
  min-width:200px;
  /*max-width: 200px;*/
}

.add-item form {
  width: 100%;
}

.add-item h1 {
  color: white;
  margin-left: 15px;
  margin-top: 0px;
}
.display-item {
  border-radius: 5px;
  width: 65%;
  margin-left: 50px;
  overflow: auto;
  flex: 1;
  scroll-behavior:  auto;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
  display:block;
}


ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  border: 1px solid;
  border-color: rgb(136, 153, 166);
  margin-right: 50px;
  background-color: rgb(21, 32,43);
  color: rgb(136, 153, 166);
  margin-bottom: 30px;
  min-width: 400px;
}


li p {
  padding: 0px 15px;
  border-color: rgb(136, 153, 166);
  color: white;
}


form button {
  width: 90%;
  border: 0px;
  border-radius: 9999px;
  text-align: center;
  background-color:rgb(0, 172, 238);
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 14px;
  padding: 15px 22px;
}

form input {
  font-size: 22px;
  color: white;
  background-color: rgb(21, 32,43);
  border-bottom: 1px solid;
  border-left: 0px;
  border-top: 0px;
  border-top-color:  rgb(21, 32,43);
  padding: 6px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  display: block;
  width: 100%;  
}

form select {
  font-size: 22px;
  color: white;
  background-color: rgb(21, 32,43);
  border-bottom: 1px solid;
  border-top: 0px;
  border-left:0px;
  border-top-color:  rgb(21, 32,43);
  padding: 6px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  display: block;
  width: 100%;  
}
form label{
  font-size: 22px;
  color: white;
  background-color: rgb(21, 32,43);
  padding: 4px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  display: block;
  width: 100%; 
}

.date{
  padding: 5px 15px;
  text-align: right;
  border-color: rgb(136, 153, 166);
  color: gray;
}
.namebio{
  display: flex;
  height: auto;
  padding: 0px 0px;
}
.namebio h1{
  padding: 0px 15px;
  border-color: rgb(136, 153, 166);
  color: white;
  margin:0px;
}
.namebio p{
  padding-top: 9px;
  border-color: rgb(136, 153, 166);
  color: gray;
  margin:0px;
}
.CARDS{
  cursor: pointer;
  margin: 2px;
  border: 2px solid rgb(136, 153, 166);
  height: 80%;
}
.CARDS:hover{
  opacity:0.7;
  filter:alpha(opacity=70);
}
.movie_section{
  text-align: center;
}