.page{
  background-color: rgb(21, 32,43);
  color: white;
}

.header {
  display: block;
  height: 150px;
  width: 100%;
  background-image: url('./Components/images/flower.JPG');
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  margin: 0;
}

.profile{
  display: block;
  border-color: black;
  width: 125px;
  height: 125px;
  left: 20px;
  transform:translate(0%, -50%);
  border-radius: 9999px;
  border-width: 4px;
  border-color: rgb(21, 32,43);
  border-style: solid;
  background-size: cover;
  background-image: url('./Components/images/profile.jpg');
  position: relative;
}

@media screen and (max-width: 425px){
  .profile{
    margin: 0 auto;
    left: 0px;
  }
}

@media screen and (max-width: 425px){
  .Name{
    display: block;
    margin: 0 auto;
  }
}

.Name{
  background-color: rgb(21, 32,43);
  font-weight: 800;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  left: 10px;
  transform: translate(0%,-200%);
  position: relative;
  font-size: 19px;
}

.bio-bar{
  left: 10px;
  display: block;
  position: relative;
  transform: translate(0%, -100%);
  margin: 0 auto;
}

@media screen and (max-width: 425px){
  .bio-bar{
    transform: translate(0%, -50%);
  }
}

.bio p{
  background-color: rgb(21, 32,43);
  display:block;
  color: rgb(136, 153, 166);
  font-weight: 400;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 0px;
}

.nav-bar{
  text-align: center;
  margin: 0 auto;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 425px){
  .nav-bar > div{
    transform: translate(0, 50%);
  }
}

@media screen and (max-width: 215px){
  .nav-bar > div{
    transform: translate(0, 150%);
  }
}

.tabList {
  display: flex;
  cursor: pointer;
}
.tab {
  font-family: MS Shell Dlg 2;
  display: inline-block;
  width: 100px;
  height: 53px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  flex-direction: row;
  cursor: pointer;
  list-style-type: inline;
  padding-left: 2px;
  padding-right: 2px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.homepic{
  display: block;
  padding: 5px;
}

.homepic img{
  max-width: 100%;
  height: auto;
}

.player-wrapper {
  position: absolue;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

}
.react-player {
  display: inline-block;
  min-width: 560px;
  width: 100%;
  height: auto;
  background-color: rgb(21, 32,43);
}

.vidclass{
  background-color: rgb(21, 32,43);
  width: 560;
  position: relative;
}

.caption{
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  text-align: justify;
}

.linkim{
  display: flex;
}

.linkim img{
  width: 300px;
  max-width: 100%;
  height: auto;
}

.BackToTop{
  background-color: white;
}

.Modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
}

.body{
  background-color: rgb(21, 32,43);
}

.homeBody{
  display: flex;
}

@media screen and (max-width: 650px) {
  .homeBody{
    display: block;
  }
}

.vrow{
  display: flex;
}

@media screen and (max-width: 700px) {
  .vrow{
    display: block;
  }
}